{% extends 'base.html.twig' %}

{% block body %}
    <div class="manga-description">
        <h2>Manga description</h2>
        <div class="manga-content">
            <div class="manga-cover">
                <img src="{{ vich_uploader_asset(mangas, 'imageFile') }}">
            </div>
            <div class="manga-info">
                <h1>{{ mangas.title }}</h1>
                <h2>Auteur : {{ mangas.author }}</h2>
                <h3>Genre : {{ mangas.genre }}</h3>
                <p>Synopsis :{{ mangas.synopsis }}</p>
            </div>
        </div>
    </div>
{% endblock %}