{% extends 'base.html.twig' %}

    {% block body %}
        <style>
            form {
                text-align: center;
            }

            form div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            label {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            input {
                width: 20%;
                height: 30px;
                margin: 0 auto;
                border: 1px solid #cc0000;
            }

            button {
                display: block;
                width: 10%;
                height: 30px;
                margin: 0 auto;
                margin-top: 20px;
                background: transparent;
                border: 1px solid #cc0000;
                color: #cc0000;
                cursor: pointer;
            }

            button:hover {
                background: #cc0000;
                color: #ffffff;
            }

            h2 {
                text-align: center;
            }

        </style>
        <h2>Création de compte</h2>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">Register!</button>
        {{ form_end(form) }}
    {% endblock %}
