<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connection</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ form_start(form) }}
{{ form_row(form.username) }}
{{ form_row(form.name) }}
{{ form_row(form.lastname) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}

<button type="submit">Register!</button>
{{ form_end(form) }}
</body>
</html>