{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-content">
        <div class="info-profil">
            <h2>Informations</h2>
        </div>
        <div class="calendar-profil">
            <h2>Données Mangas</h2>
            <div class="form_mangas">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.author) }}
                {{ form_row(form.cover) }}
                {{ form_row(form.synopsis) }}
                {{ form_row(form.genre) }}
                {{ form_row(form.availability) }}
                {{ form_row(form.date_loan) }}
                {{ form_row(form.date_back) }}
                <button type="submit">Register!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}