{% extends 'base.html.twig' %}

{% block body %}
    <div class="manga-description">
        <h1>{{ mangas.title }}</h1>
        <h2>Dispos : {{ mangas.availability }}></h2>
        <img src="{{ vich_uploader_asset(mangas, 'imageFile') }}">
        <h3>Auteur : {{ mangas.author }}</h3>
        <h4>Genre : {{ mangas.genre }}</h4>
        <p>Synopsis :{{ mangas.synopsis }}</p>
    </div>
{% endblock %}