{% extends 'base.html.twig' %}

{% block body %}
    <div class="manga-description">
        {% for manga in mangas %}
            <h1>{{ manga.title }}</h1>
            <h2>{{ manga.availability }}></h2>
            <img src="https://i.pinimg.com/originals/58/0c/26/580c26e2593d75bb705956aa4b841e63.jpg">
            <h3>{{ manga.author }}</h3>
            <h4>{{ manga.genre }}</h4>
            <p>{{ manga.synopsis }}</p>
        {% endfor %}
    </div>
{% endblock %}